<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ole777 thành lập năm 2014 tại Manila Philippines, được giám sát và điều hành bởi tập đoàn giải trí Ole777 Group.">
    <meta name="keywords" content="Ole777 sân chơi cá cược hàng đầu tại Việt Nam :thao,Bắn cá,Xổ số,Tài xỉu,Đá gà,Xóc đĩa,Nổ hũ,Thể">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- icon -->
    <link rel="icon" href="../src/icon.png">
    <!-- css -->
     <link rel="stylesheet" href="../css/style.css">
     <link rel="stylesheet" href="../css/xo.css">
     <title>OLE777 ⚡️Sân Chơi Cá Cược Trực Tuyến Số 1 Việt Nam</title>
</head>
<body>

    <!-- header -->
    <header>
        <div class="btn-link">
            <div class="btn-link-top container-max-width">
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="red">ĐĂNG NHẬP</a>
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="green">ĐĂNG KÝ</a>
            </div>
        </div>
        <nav class="navbar">
            <div class="nav-item container-max-width">
                <div class="icon-bars">
                    <i class="fa-solid fa-bars bars"></i>
                </div>
                <div class="menu">
                    <div class="logo">
                        <a href="../index.html">
                            <img src="../src/logo.gif" alt="">
                        </a>
                    </div>
                    <div class="links-top">
                        <a href="../index.html">OLE777</a>
                        <a href="../components/xo.html">XỔ SỐ</a>
                        <a href="../components/the.html">THỂ THAO</a>
                        <a href="../components/no.html">NỔ HŨ</a>
                        <a href="../components/cas.html">CASINO</a>
                        <a href="#" class="active">BẮN CÁ</a>
                        <a href="../components/khu.html">KHUYẾN MÃI</a>
                        <a href="../components/lie.html">LIÊN HỆ</a>
                        <a href="../components/tin.html">TIN TỨC</a>
                        <a href="../components/hu.html">HƯỚNG DẪN</a>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>
        </nav>
        <div class="btn-link">
            <div class="btn-link-bottom container-max-width">
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="red">ĐĂNG NHẬP</a>
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="green">ĐĂNG KÝ</a>
            </div>
        </div>
        <div class="show-link">
            <div class="wrap">
                <div class="search">
                    <input placeholder="Search..." type="text">    
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div> 
            </div> 
            <div class="links-bottom">
                <a href="../index.html">OLE777</a>
                <a href="../components/xo.html">XỔ SỐ</a>
                <a href="../components/the.html">THỂ THAO</a>
                <a href="../components/no.html">NỔ HŨ</a>
                <a href="../components/cas.html">CASINO</a>
                <a href="../components/ban.html">BẮN CÁ</a>
                <a href="../components/khu.html">KHUYẾN MÃI</a>
                <a href="../components/lie.html">LIÊN HỆ</a>
                <a href="../components/tin.html">TIN TỨC</a>
                <a href="../components/hu.html">HƯỚNG DẪN</a>
            </div>      
        </div>
    </header>
    <!-- end of header -->

    <!-- hero -->
    <section>
        <div class="container">
            <div class="content-container container-max-width">
                <div class="title-center">
                    BẮN CÁ
                </div>
                <div class="content-left-rigth">
                    <!-- left -->
                     <div class="left">
                        <div class="game">
                            <span>BẮN CÁ</span>
                            <h3>Giới thiệu trò chơi khủng</h3>
                            <span>POSTED ON 30 THÁNG BA, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/30.jpg" alt="">
                            </div>
                            <p>
                                Bắn cá từ lâu đã là một đầu game đồ họa online nhận được sự ủng hộ từ cộng đồng người chơi. Anh em tham gia bắn cá thường xuyên chắc hẳn không còn xa lạ với cái tên khủng . Đây là một trong những đầu game bắn cá thú vị bậc nhất trên thị trường game đổi thưởng hiện nay. […]
                            </p>
                            <div class="btn-read">
                                <a href="../components/ban1.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="game">
                            <span>BẮN CÁ</span>
                            <h3> Hệ thống bắn cá đẳng cấp và kho game đa dạng</h3>
                            <span>POSTED ON 30 THÁNG BA, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/31.jpg" alt="">
                            </div>
                            <p>
                                Một cái tên khác hiện nay không thể bỏ qua đó là. Với nhiều năm hoạt động trong lĩnh vực này và cung cấp game bắn cá đổi thưởng thì chưa từng làm người chơi thất vọng với những kỳ vọng của họ đặt ra. Đây chắc hẳn là một lựa chọn đáng xem xét dành cho bạn khi tìm kiếm nhà cái bắn cá uy tín.[…]
                            </p>
                            <div class="btn-read">
                                <a href="../components/ban2.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        
                     </div>

                     <!-- rigth -->
                      <div class="rigth">
                        <div class="text-rigth">
                            <h4>BÀI VIẾT MỚI</h4>
                            <p>
                                Xổ số Keno là gì? Cách chơi xổ số Keno rinh thưởng cực khủng
                            </p>
                            <p>
                                Tìm hiểu quy luật bài Liêng và các mẹo giành chiến thắng
                            </p>
                            <p>
                                Điểm danh 5 sân chơi Tài Xỉu uy tín, đáng tin cậy nhất 2024
                            </p>
                            <p>
                                Bật mí thủ thuật chơi bầu cua có tỷ lệ thắng 100%
                            </p>
                            <p>
                                [Đừng bỏ lỡ] Bí kíp chơi Bài cào luôn thắng từ cao thủ
                            </p>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end of hero -->

    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="content-footer container-max-width">
                <div class="grid-3x1">
                    <div class="box-footer">
                        <div class="title-footer">
                            THÔNG TIN LIÊN HỆ
                        </div>
                        <div class="desc-footer">
                            <p>
                                Địa chỉ: 28/25 Trần Khắc Trân, Phường 9, Phú Nhuận, Thành phố Hồ Chí Minh
                            </p>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="title-footer">
                            GIỚI THIỆU
                        </div>
                        <div class="desc-footer">
                            <a href="../components/khu.html">Khuyến mãi tháng 5</a>
                            <a href="../components/lie.html">Liên hệ</a>
                            <a href="../components/tin5.html">Chính sách bảo mật</a>
                            <a href="../components/tin3.html">Chơi có trách nhiệm</a>
                            <a href="../components/tin2.html">Đại lý Ole777</a>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="title-footer">
                            TRUNG TÂM THÔNG TIN
                        </div>
                        <div class="desc-footer">
                            <a href="../components/hu5.html">Đăng ký tài khoản Ole777</a>
                            <a href="../components/hu1.html">Tải ứng dụng Ole777</a>
                            <a href="../components/hu2.html">Rút tiền</a>
                            <a href="../components/hu3.html">Nạp tiền</a>
                            <a href="../components/hu4.html">Hướng dẫn đăng nhập</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- end of footer -->

    <!-- script -->
    <script src="../js/page.js"></script>
    
</body>
</html>