<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ole777 thành lập năm 2014 tại Manila Philippines, được giám sát và điều hành bởi tập đoàn giải trí Ole777 Group.">
    <meta name="keywords" content="Ole777 sân chơi cá cược hàng đầu tại Việt Nam :thao,Bắn cá,Xổ số,Tài xỉu,Đá gà,Xóc đĩa,Nổ hũ,Thể">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- icon -->
    <link rel="icon" href="../src/icon.png">
    <!-- css -->
     <link rel="stylesheet" href="../css/style.css">
     <link rel="stylesheet" href="../css/xo.css">
    <title>Ole777 ⚡️Sân Chơi Cá Cược Trực Tuyến Số 1 Việt Nam</title>
</head>
<body>

    <!-- header -->
    <header>
        <div class="btn-link">
            <div class="btn-link-top container-max-width">
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="red">ĐĂNG NHẬP</a>
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="green">ĐĂNG KÝ</a>
            </div>
        </div>
        <nav class="navbar">
            <div class="nav-item container-max-width">
                <div class="icon-bars">
                    <i class="fa-solid fa-bars bars"></i>
                </div>
                <div class="menu">
                    <div class="logo">
                        <a href="../index.html">
                            <img src="../src/logo.gif" alt="">
                        </a>
                    </div>
                    <div class="links-top">
                        <a href="../index.html">OLE777</a>
                        <a href="#"class="active">XỔ SỐ</a>
                        <a href="../components/the.html">THỂ THAO</a>
                        <a href="../components/no.html">NỔ HŨ</a>
                        <a href="../components/cas.html">CASINO</a>
                        <a href="../components/ban.html">BẮN CÁ</a>
                        <a href="../components/khu.html">KHUYẾN MÃI</a>
                        <a href="../components/lie.html">LIÊN HỆ</a>
                        <a href="../components/tin.html">TIN TỨC</a>
                        <a href="../components/hu.html">HƯỚNG DẪN</a>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </div>
        </nav>
        <div class="btn-link">
            <div class="btn-link-bottom container-max-width">
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="red">ĐĂNG NHẬP</a>
                <a href=" https://www.hay88.one/?inviteCode=9833982" class="green">ĐĂNG KÝ</a>
            </div>
        </div>
        <div class="show-link">
            <div class="wrap">
                <div class="search">
                    <input placeholder="Search..." type="text">    
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div> 
            </div> 
            <div class="links-bottom">
                <a href="../index.html">OLE777</a>
                <a href="#">XỔ SỐ</a>
                <a href="../components/the.html">THỂ THAO</a>
                <a href="../components/no.html">NỔ HŨ</a>
                <a href="../components/cas.html">CASINO</a>
                <a href="../components/ban.html">BẮN CÁ</a>
                <a href="../components/khu.html">KHUYẾN MÃI</a>
                <a href="../components/lie.html">LIÊN HỆ</a>
                <a href="../components/tin.html">TIN TỨC</a>
                <a href="../components/hu.html">HƯỚNG DẪN</a>
            </div>      
        </div>
    </header>
    <!-- end of header -->

    <!-- hero -->
    <section>
        <div class="container">
            <div class="content-container container-max-width">
                <div class="title-center">
                    XỔ SỐ
                </div>
                <div class="content-left-rigth">
                    <!-- left -->
                     <div class="left">
                        <div class="game">
                            <span>XỔ SỐ</span>
                            <h3>Xổ số Keno là gì? Cách chơi xổ số Keno rinh thưởng cực khủng</h3>
                            <span>POSTED ON 1 THÁNG TƯ, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/13.jpg" alt="">
                            </div>
                            <p>
                                Xổ số Keno đang là loại hình giải trí được yêu thích tại nhiều nhà cái. Bộ môn mang tới cho cược thủ những trải nghiệm thú vị và đáng nhớ nhất cùng các con số may mắn. Nếu bạn đang muốn biết thêm thông tin đầy đủ về tựa game thì xem bài viết […]
                            </p>
                            <div class="btn-read">
                                <a href="../components/xo1.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="game">
                            <span>XỔ SỐ</span>
                            <h3>Nuôi lô khung 1 ngày là gì? Bí kíp chơi chuyên nghiệp</h3>
                            <span>POSTED ON 29 THÁNG BA, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/14.jpg" alt="">
                            </div>
                            <p>
                                Nuôi lô khung 1 ngày là hình thức quen thuộc song không phải tay cược nào cũng biết cách chơi chuyên nghiệp. Nếu là một người yêu thích xổ số trực tuyến, bạn không nên bỏ qua các kiến thức được chúng tôi chia sẻ trong bài viết hôm nay. Nuôi lô khung 1 ngày […]
                            </p>
                            <div class="btn-read">
                                <a href="../components/xo2.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="game">
                            <span>XỔ SỐ</span>
                            <h3>Lô trượt là gì? Hướng dẫn cách đánh Lô trượt hiệu quả nhất</h3>
                            <span>POSTED ON 29 THÁNG BA, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/15.jpg" alt="">
                            </div>
                            <p>
                                Lô trượt là từ khoá có mật độ tìm kiếm giày đặc trên các hội nhóm về lô đề. Như vậy, có lẽ nhiều người chưa thực sự biết về khái niệm này và các thông tin liên quan. Theo dõi ngay bài viết này để biết các phân loại, tỷ lệ ăn và cách […]
                            </p>
                            <div class="btn-read">
                                <a href="../components/xo3.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="game">
                            <span>XỔ SỐ</span>
                            <h3>Hướng dẫn săn thưởng tại trang đánh đề uy tín nhất Ole777</h3>
                            <span>POSTED ON 29 THÁNG BA, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/16.jpg" alt="">
                            </div>
                            <p>
                                Trang đánh đề uy tín nhất Ole777 luôn được đông đảo bet thủ săn đón, ưu tiên lựa chọn để xuống tiền săn thưởng lớn hôm nay. Thế nhưng với một vài tân thủ, làm sao để có thể gia nhập sân chơi trực tuyến lớn nhất làng game Việt này cũng là một vấn […]
                            </p>
                            <div class="btn-read">
                                <a href="../components/xo4.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                        <div class="game">
                            <span>XỔ SỐ</span>
                            <h3>Cách tính lô đề miền Bắc siêu chuẩn giúp thắng cực khủng</h3>
                            <span>POSTED ON 29 THÁNG BA, 2024 BY Ole777</span>
                            <div class="image">
                                <img src="../src/17.jpg" alt="">
                            </div>
                            <p>
                                Cách tính lô đề miền Bắc sao cho chuẩn là điều mà cược thủ nên làm đầu tiên trước khi chơi. Dựa theo đây giúp bạn chọn ra được cho mình những con số may mắn tăng tỷ lệ thắng. Nếu bạn chưa biết nên tham gia theo phương pháp nào hiệu quả nhất đừng […]
                            </p>
                            <div class="btn-read">
                                <a href="../components/xo5.html">continue reading</a>
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </div>
                     </div>

                     <!-- rigth -->
                      <div class="rigth">
                        <div class="text-rigth">
                            <h4>BÀI VIẾT MỚI</h4>
                            <p>
                                Xổ số Keno là gì? Cách chơi xổ số Keno rinh thưởng cực khủng
                            </p>
                            <p>
                                Tìm hiểu quy luật bài Liêng và các mẹo giành chiến thắng
                            </p>
                            <p>
                                Điểm danh 5 sân chơi Tài Xỉu uy tín, đáng tin cậy nhất 2024
                            </p>
                            <p>
                                Bật mí thủ thuật chơi bầu cua có tỷ lệ thắng 100%
                            </p>
                        </div>
                      </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end of hero -->

    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="content-footer container-max-width">
                <div class="grid-3x1">
                    <div class="box-footer">
                        <div class="title-footer">
                            THÔNG TIN LIÊN HỆ
                        </div>
                        <div class="desc-footer">
                            <p>
                                Địa chỉ: 28/25 Trần Khắc Trân, Phường 9, Phú Nhuận, Thành phố Hồ Chí Minh
                            </p>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="title-footer">
                            GIỚI THIỆU
                        </div>
                        <div class="desc-footer">
                            <a href="../components/khu.html">Khuyến mãi tháng 5</a>
                            <a href="../components/lie.html">Liên hệ</a>
                            <a href="../components/tin5.html">Chính sách bảo mật</a>
                            <a href="../components/tin3.html">Chơi có trách nhiệm</a>
                            <a href="../components/tin2.html">Đại lý Ole777</a>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="title-footer">
                            TRUNG TÂM THÔNG TIN
                        </div>
                        <div class="desc-footer">
                            <a href="../components/hu5.html">Đăng ký tài khoản Ole777</a>
                            <a href="../components/hu1.html">Tải ứng dụng Ole777</a>
                            <a href="../components/hu2.html">Rút tiền</a>
                            <a href="../components/hu3.html">Nạp tiền</a>
                            <a href="../components/hu4.html">Hướng dẫn đăng nhập</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- end of footer -->

    <!-- script -->
    <script src="../js/page.js"></script>
    
</body>
</html>